.highlight {
    position: absolute;
    // width: 60px;
    // height: 60px;
    // background: rgb(204, 206, 236);
    // filter: blur(10px);
    // border-radius: 50%;
    // pointer-events: none;
}