.inputTask {
    margin-bottom: 15px;
    background: transparent;
    box-shadow: 0 0 2px rgb(0, 0, 0);
    border-radius: 5px;
    padding-right: 15px;
    position: relative;
    padding: 15px 0 15px 0;
    transition: .3s;
        &:hover {
            box-shadow: 0 0 4px #dbefe9;
        }
    &Wrapper {
        display: grid;
        grid-template-columns: auto 25px 25px;
        align-items: center;
        gap: 10px;
        padding-right: 20px;
    }
    &Checked {
        width: 18px;
        height: 18px;
        cursor: pointer;
        color: #dbefe9;
        box-shadow: 0 0 3px black;
    }
    &Unchecked {
        color: transparent;
        box-shadow: 0 0 3px black;
        opacity: .4;
        cursor: default;
    }
    &Label {
        font-size: 20px;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        cursor: pointer;
        padding: 12px 15px;
        gap: 8px;
    }
    &Title, &TitleUnchecked {
        padding: 5px;
        line-height: 1.2;
        opacity: .7;
    }
    &TitleUnchecked {
        text-decoration: line-through;
        opacity: .4;
    }
    &TitleEdit {
        font: 1rem/1em 'Roboto', sans-serif;
        padding: 5px;
        border: none;
        background: none;
        box-shadow: 0 4px 0 -3px #7B7B7B;
    }
    &EditDisabled {
        opacity: .2;
        cursor:not-allowed;
        &:hover {
            opacity: .2;
        }
    }
    &Edit, &Remove, &Save {
        transition: .6s;
        &:hover {
            color: #dbefe9;
        }
    }
}